extends layout

block content

  ul
      li= book.title
      li= book.author
      li
        img(src=book.image_url)
      li= book.description

      form(name='delete', id='delete-form', action='/books/delete/${book.id}, method='get')
        input(type='submit' value='Delete Book')
